{% extends 'base_detail.html' %}
{% load static %}

{% block content %}
<div class="filter_form_conteiner">
    <div class="white_back_block">
        <input name="category" id="id_category" type="hidden">
        <form method="get" id="search_form">
            <div class="search_category_conteiner">
                <span>Категория</span>:
                <div id="choice_category_button" class="choice_category">
                    <span id="choice_category_button_name">{{ category }}</span>
                    <div id="search_rubric_list" class="search_rubric_list">
                        {% for rubric in rubrics %}
                        <div class="choice_rubric_conteiner">
                            <span class="choice_span">{{ rubric.name }}</span>
                            <div class="search_categories_list">
                                {% for category in rubric.categories.all %}
                                <div class="choice_category_conteiner" data-name="{{ category.name }}" data-slug="{{ category.slug }}">
                                    <span>{{ category.name }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form }}
            <button id="search_form_submit_button" type="submit">Поиск</button>
        </form>
    </div>
</div>
<section class="section">
    <div class="name_section">
        <h2>Обьявления по запросу: {{ request.GET.search_data }}</h2>
    </div>
    <div class="section_content">
        <div class="products_conteiner">
            {% for product in page_obj %}
            <div class="product_icon">
                <div class="product_icon__content">
                    <a href="{{ product.get_absolute_url }}">
                        <div class="product_image_place">
                            <img class="convenient_picture" src="{{ product.image.url }}">
                        </div>
                        <div class="product_icon_name">
                            <span>{{ product.name }}</span>
                        </div>
                    </a>
                    <div class="product_icon_price">
                        {% if product.sale_type == 's' %}
                            <b>{{ product.price }}$</b>
                        {% elif product.sale_type == 'f' %}
                            <b>Даром</b>
                        {% elif product.sale_type == 'e' %}
                            <b>Обмен</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{{ category_slug|json_script:'slug-data' }}
{% endblock %}

{% block scripts %}
<script src="{% static 'posts/js/script_search_product.js' %}"></script>
{% endblock %}