{% extends 'posts/base.html' %}

{% block content %}
<div class="page_form">
    <div class="page_form_tabs">
        <div class="tab_content register_tab">
            <div class="form_header">
                <h1>Добавить продукт</h1>
            </div>
            <label>
                {% for image in object.product_image_set.all %}
                <img width="50" src="{{ image.image.url }}">
                {% endfor %}
            </label>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for item in form %}
                <label>{{ item.label }}</label><br>
                {{ item }}<br>
                {% endfor %}
                <button type="submit" id="register_btn">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}