{% extends 'posts/base_detail.html' %}
{% load static %}

{% block content %}
<div class="create_product_conteiner">
    <div class="form_header">
        <h1>Обновить продукт</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <h2>
            Изображение продукта:
        </h2>
        <div class="product_add_image_conteiner">
            <div id="image_conteiner" class="product_add_image_content">
                <img id="product_image">
            </div>
        </div>
        {% csrf_token %}
        {% for item in form %}
        <label>{{ item.label }}: </label><br>
        {{ item }}<br>
        {% endfor %}
        <button type="submit" id="register_btn">Обновить продукт</button>
    </form>
</div>
<script src="{% static 'posts/js/script_create_product.js' %}"></script>
{% endblock %}