*{
	margin: 0;
	padding: 0;
}

html,
body{
	font-family: 'Ubuntu', sans-serif;
	background: #F8F8FF;
	height: 100%;
	width: 100%;
}

header{
	background: #363636;
	width: 100%;
}

.logo{
	display: flex;
	align-items: center;
}

.logo a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: bolder;
}

.logo img{
}

.conteiner{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

main .conteiner{
	height: 100%;
}

.header__inner{
}

.main__inner{
	height: 100%;
	padding-top: 20px;
}

.top_menu{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.bottom_menu{
	padding: 10px;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.header__navigation a{
	color: black;
	text-decoration: none;
}

.header__navigation a:hover{
	text-decoration: underline;
}

.header__navigation{
	width: 100%;
}

.account__nav{
	display: flex;
	align-items: center;
}

.account__nav a{
	color: white;
	text-decoration: none;
	margin-left: 20px;
}

.profile_image{
	border-radius: 100%;
}

.authentication_conteinter{
	background: #F8F8FF;
	box-shadow: 5px 5px 20px;
	padding: 50px;
}

.form_header{
	padding: 30px;
}

.column{
	display: flex;
	flex-direction: column;
}

.registration_div_form{
	display: flex;
}

#register_form{
}

#register_form input{
	padding: 5px;
	background: #e5e5e5;
	border: solid 1px grey;
	width: 70%;
}

#register_form input:focus{
	outline: solid 2px #454bff;
	border: none;
}

#auth_form input{
	padding: 5px;
	background: #e5e5e5;
	border: solid 1px grey;
}

#auth_form input:focus{
	outline: solid 2px #454bff;
	border: none;
}

.page_form_tabs{
	width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	text-align: center;
	border-radius: 5px;
}

.auth_navigation{
	display: flex;
	width: 100%;
	border-bottom: 1px solid black; 
}

#register_btn{
	margin-top: 50px;
	color: white;
	background: #216bff;
	padding: 10px;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
}

.authentication{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
}

.auth_tab{
	width: 50%;
	padding: 20px;
}

.auth_tab a{
	color: black;
	text-decoration: none;
}

.tab_content{
	padding-bottom: 50px;
}

.auth_tab_active{
	border-bottom: 5px solid black;
}

.name_section{
	padding: 60px;
	text-align: center;
}

.product_image_place{
	background: #53607a;
}

.product_icon{
	display: inline-block;
	padding: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	margin: 5px;
}

.product_icon_name{
	padding: 5px;
	padding-bottom: 10px;
	font-weight: 10px;
}

.product_icon_name span{
	font-weight: 10px;
}

.product_image_place{
	display: flex;
	width: 170px;
	height: 100px;
	justify-content: center;
}

.search_conteiner{
	display: flex;
	align-items: center;
	position: relative;
}

#search_name_input{
	max-width: 300px;
	width: 400px;
	padding: 7px;
	border-radius: 0;
	border: none;
	outline: none;
}

#search_input:focus{
	outline: none;
}

#search_btn{
	width: 35px;
	height: 35px;
	background: #ffda24;
	border-radius: 100%;
	margin-left: 10px;
	border: none;
	cursor: pointer;
	flex-wrap: 25%;
}

.products_coneiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.authetication{
	margin-top: 30px; 
}

.form_errors{
	background: #ff4f4f;
	padding: 10px;
	color: white;
	display: inline-block;
	width: 250px;
}

.messages{
	position: absolute;
	padding: 30px;
	width: 300px;
	height: 70px;
	background: rgba(145, 164, 255, 0.9);
	z-index: 1000;
	border: 1px dashed grey;
	border-radius: 5px;
	margin: auto;
	left:50%;
	top: -100%;
	align-self: center;
	color: white;
	transition: all 1s ease;
}

.foto_slider{
	display: flex;
	position: relative;
	height: 100%;
	transition: all 0.5s ease;
}

.product_big_image{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	min-width: 100%;
	justify-content: center;
}

.convenient_picture{
	height: 100%;
	max-width: 100%;
}

.foto_slider_conteiner{
	height: 300px;
	width: 600px;
	overflow: hidden;
	position: relative;
	background: #53607a;
}

.slider_button{
	z-index: 1000;
	height: 100%;
	cursor: pointer;
	padding: 30px;
	background: none;
	border: none;
	transition: all 1s;
}

.slider_button:hover{
	background: linear-gradient(to right, rgba(0,0,0,0.0), rgba(255,255,255,0.4));
}

#left-slider-btn:hover{
	background: linear-gradient(to left, rgba(0,0,0,0.0), rgba(255,255,255,0.4))
}

#right-slider-btn{
}

.slider_canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.product_any_info_conteiner{
	padding: 30px;
	background: white;
	display: inline-block;
	margin: 20px; 
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.column_conteiner{
	display: flex;
	flex-direction: column;
}

.main_product_info{
	display: flex;
	justify-content: space-between;
}

.product_author_main_info{
	display: flex;
	align-items: center;
}

.product_author_name{
	margin-left: 5px;
}

.product_author_name h2{
	text-decoration: none;
	color: black;
}

.product_about{
	margin: 10px;
}

.author_contact_info{
	padding: 10px;
	background: #6ba6ff;
	color: white;
}

.search_list_conteiner{
	width: 100%;
	padding: 10px;
	background: white;
	position: absolute;
	z-index: 2000;
	height: 300px;
	top: 100%;
	display: none;
	box-sizing: border-box;
}

#search_list{
	display: flex;
	flex-direction: column;
}

.search_box{
	position: relative;
}

.review_view{
	display: block;
	padding: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	margin-top: 10px ;
	margin-bottom: 10px ;
}

.review_view_content{
	padding: 10px;
	border: 1px solid grey;
}

.profile_conteiner{
	padding: 30px;
	width: 100%;
	background: white;
	box-sizing: border-box;
	display: inline-block;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	margin-top: 20px;
	margin-bottom: 20px;
}

.blue_btn{
	padding: 20px;
	display: inline-block;
	color: white;
	text-decoration: none;
	background: #6ba6ff;
	border: none;
}

.red_btn{
	padding: 20px;
	color: white;
	text-decoration: none;
	background: #DC143C;
	margin-top: 15px;
	margin-bottom: 15px; 
}

.review_form{
	display: flex;
	flex-direction: column;
	width: 300px;
}

.review_form textarea{
	resize: none;
	min-width: 100%;
}

#removal_question{
	background: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}

.question_content{
	background: white;
	padding: 40px;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	justify-content: space-between;
	margin: auto auto;
}

.review_actions{
	padding: 10px;
}

.product_cart_icon{
	display: flex;
	width: 100%;
	padding: 20px;
	background: white;
	box-sizing: border-box;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.product_cart_icon__content{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.cart_content_conteiner{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.products_conteiner{
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.white_back_block{
	padding: 30px;
	background: white;
	display: inline-block;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.total_cart_conteiner{
	width: 300px;
}

.send_application_conteiner{
	display: flex;
	padding-bottom: 20px;
	justify-content: center;
}

.total_products_info{
	padding: 15px;
}

.total_cart_option{
	margin: 10px 0 10px 0;
}

.total_cart_option{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.left_direction{
	width: 100%;
}

.nav_img_icon{
	position: relative;
}

.count_text{
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
	left: 80%;
	border-radius: 100%;
	top:50%;
	color: white;
	text-align: center;
	align-items: center;
}

.product_icon_order_info{
	text-align: end;
}

.order_author_link{
	display: flex;
	align-self: flex-end;
	align-items: center;
}

.form_error_list{
	background: #ff4545;
	padding: 10px;
	color: white;
	width: 300px;
}

.form_error_list ul li{
	 list-style-type: none;
}

/* Chat */

.chat_app_conteiner{
	height: 100%;
	max-height: 650%;
	display: flex;
}

.chats_menu{
	height: 100%;
	width: 250px;
	background: #363636;
}

.chat_dialog_conteiner{
	display: flex;
	width: 100%;
	height: 100%;
	background: #bdebff;
	flex-direction: column;
	justify-content: space-between;
}

.chat_dialog_messages_conteiner{
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.chat_message_form{
	background: white;
	padding: 20px;
}

.main__chat{
	height: 100%;
}

.message_view{
	display: inline-block;
	padding: 15px;
	background: white;
}

/* Create product */

.create_product_conteiner{
	width: 100%;
	height: 100%;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	padding: 0 30px 0 30px;
	box-sizing: border-box;
}

.create_product_conteiner form input{
	padding: 5px;
	background: #e5e5e5;
	border: solid 1px grey;
}

.product_add_image_conteiner{
	width: 300px;
	height: 170px;
	padding: 30px;
	background: #a8dfff;
	border-radius: 10px;
}

.product_add_image_content{
	background: #fafafa;
	width: 100%;
	height: 100%;
}

#product_image{
	height: 100%;
	max-width: 100%;
}

.product_images_scroll_content{
	display: flex;
	width: 100%;
	height: 100%;
}

.product_images_scroll_content img{
	position: relative;
	height: 100%;
	max-width: 100%;
}

#characteristics_table{
	border: 1px solid grey;
	display: inline-block;
}

#characteristics_table tr th{
	padding: 5px;
}

#characteristics_table tr td input{
	border: 1px solid grey;
	background: none;
	border-radius: none;
}


.product_form{
	display: flex;
	flex-direction: column;
}

.product_form select{
	padding: 5px;
	border: 1px solid grey;
	border-radius: none;
}

.product_form textarea{
	max-width: 100%;
}

.product_characteristics_table{
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

.product_characteristics_table tr th, td{
	padding: 10px;
	border: 1px solid grey;
}

.product_info *{
	margin-bottom: 20px;
}

/* Search page */

#search_form .field_set{
	display: flex;
	flex-wrap: wrap;
}

.search_category_conteiner{
	position: relative;
	display: flex;
}

.filter_form_conteiner .white_back_block{
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

.search_rubric_list{
	display: none;
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: -3%;
	background: white;
	box-shadow: rgba(0,0,0,0.2);
	border: 1px solid grey;
}

.choice_category{
	display: inline-block;
	position: relative;
	padding: 5px;
	border: 1px solid grey;
	cursor: pointer;
}

.choice_rubric_conteiner{
	position: relative;
	padding: 5px;
}

.search_categories_list{
	display: none;
	position: absolute;
	z-index: 2000;
	top: -3%;
	left: 100%;
	background: white;	
	border: 1px solid grey;
}

.choice_span{
	padding: 5px;
}

.choice_category_conteiner{
	padding: 5px;
}

.active{
	display: block;
}

.search_form__field{
	margin-right: 10px;
}

/* Pagination */

.paginator_item{
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.paginator_item:hover{
	border: 1px solid grey;
	border-radius: 100%;
}

.paginator_list{
	display: flex;
}

/* Profile */

.profile_settings{
	background: white;
	display: flex;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	padding: 30px;
	justify-content: space-around;
	box-sizing: border-box;
}

.page_form_content{
	padding: 0 0 30px 0;
}