{% extends 'base_detail.html' %}

{% block content %}
<div class="page_form">
    <div class="page_form_tabs">
        <div class="form_header">
            <h1>Изменение пароля</h1>
        </div>
        <div class="page_form_content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for elem in form %}
                <label>{{ elem.label }}</label><br>
                {{ elem }}<br>
                {% endfor %}
                <button>Изменить пароль</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}