{% extends 'base_detail.html' %}

{% block content %}
<div class="page_form">
    <div class="page_form_tabs">
        <div class="auth_navigation">
            <div class="auth_tab">
                <a href="{% url 'accounts:register' %}">Регистрация</a>
            </div>
            <div class="auth_tab auth_tab_active">
                <a href="{% url 'accounts:login' %}">Вход</a>
            </div>
        </div>
        <div class="tab_content register_tab">
            <div class="form_header">
                <h1>Вход</h1>
            </div>
            <form id="register_form" method="post" enctype="multipart/form-data">
                {% if form.errors %}
                    <div class="form_error_list">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {% csrf_token %}
                {% for item in form %}
                <label>{{ item.label }}</label><br>
                {{ item }}<br>
                {% endfor %}
                <button id="register_btn">Вход</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}